<h2 class="text-center">Enter a URL</h2>

<div class="top-container">
    <form action="/convert-mp3" method="POST" id="form">
        <label for="url" class="visually-hidden">Youtube Video URL:</label>
        <input class="form-control mb-2" id="url" name="url" placeholder="Enter YouTube URL">
        <div class="d-flex justify-content-center align-items-center">
            <button  class="btn btn-lg btn-outline-primary mb-3">Convert</button>
        </div>
    </form>
    <div class="d-flex justify-content-center align-items-center">
        <a href="/transcription-centre" class="btn btn-primary" id="transcription-centre" style="display: none;">Transcription Centre</a>
    </div>
</div>

 <div class="bottom-container">
    <% if(typeof success != "undefined" && success) { %>
        <div class="success">
            <p><%= song_title %></p>
            <script>console.log("<%= song_link %>");</script>
            <a href="<%= song_link %>" download class="btn btn-primary">Download</a>
        </div>
    <% } else if(typeof success != "undefined" && !success) { %>
        <div class="errors">
            <p> <%= message %></p>
        </div>
    <% } %>


 </div>

<script>
    let returning = <%= returning %>
    if (returning === true) {
        console.log('evaluated to true');
        document.getElementById('transcription-centre').style.display = 'block';
    }
</script>



